a.tcfs0 { font-size: .8em; }
a.tcfs1 { font-size: 1em; }
a.tcfs2 { font-size: 1.2em; }
a.tcfs3 { font-size: 1.4em; }
a.tcfs4 { font-size: 1.6em; }
a.tcfs5 { font-size: 1.8em; }
a.tcfs6 { font-size: 2.0em; }
a.tcfs7 { font-size: 2.2em; }
a.tcfs8 { font-size: 2.4em; }
a.tcfs9 { font-size: 2.6em; }
a.tcfs10 { font-size: 2.8em; }

/*
.tagcloud span {
	font-weight: bold;
}
*/